
        #test{
            background-color: rgb(22, 121, 212);
        }
        
        #header {
            border: 5px solid rgb(81, 151, 231);
            border-style:double;
            background-color: rgb(142, 194, 255);
            color: black;
            padding: 25px;
            text-align: center;
        }
        #BANK{
            background-color: rgb(142, 194, 255);
            border-style:double;
            position: absolute;
            padding: 25px;
            text-shadow: 50cm;
            margin-left: 100px;
            box-shadow: 200px;
            text-align: center;
        }
        #loanButton{
            margin-top: 30px;;
            padding: 5px;
            background-color: aquamarine;
        }

        #WORK{
            background-color: rgb(142, 194, 255);
            position: absolute;
            padding: 35px;
            border-style:double;
            text-shadow: 50cm;
            margin-left: 400px;
            box-shadow: 200px;
            text-align: center;
        }

        #ITEMS{
            background-color: rgb(142, 194, 255);
            position: absolute;
            padding: 25px;
            border-style:double;
            margin-left: 700px;
            text-align: center;
        }
        #features{
            font-size: small;
            display: inline;
            word-wrap: break-word;
            width: 10px;
        }

        #IMAGE{
            background-color: rgb(142, 194, 255);
            padding: 10px;
            border-style:double;
            margin-top: 250px;
        }
        #laptopName{
            text-align: center;
        }
        #price{
            margin-left: 800px;
        }
        #laptopDesc{
            margin-top: 10px;
        }
        #buy{
            margin-left: 800px;
        }
